@model StatiiIncarcare.Models.ViewModels.PrizeViewModel

@{
    ViewData["Title"] = "Priza noua";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form asp-controller="Prize" asp-action="CreatePriza" method="post" class="mt-3">
    <select class="custom-select" asp-for="IdTipPrize">
        <option >Open this select menu</option>
        @foreach (var item in Model.TipPrize)
        { 
            <option value="@item.IdTip">@item.NumePriza</option>
        }
    </select>
    <input readonly asp-for="IdStatie" hidden>
    <div><button class="btn btn-primary" type="submit">Submit</button></div>
</form>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}